@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
  .container1{
    width: 90%;
  }
}
@media (max-width: 1400px) {
  .container3 {
    width: 90%;
  }
}
@media (max-width: 1240px) {
  .container3 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container4{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width:630px){
    .container1{
        flex-wrap: wrap;
        justify-content: space-around;
      }
    .container2{
      flex-wrap: wrap;
      justify-content: center;
    }
}
