.container {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
  margin-top: 57px;
}
section h2 {
  font-family: Helvetica;
  color: #5863e3;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
section p {
  font-family: Helvetica;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.container1 {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
.form1 {
  max-width: 756px;
  width: 756px;
  height: 298px;
  border: 2px solid #00000033;
  background-color: #d4d3d34d;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 21px;
  padding-bottom: 245px;
}
.form2 {
  max-width: 370px;
  width: 100%;
  height: 318px;
  display: flex;
  flex-wrap: wrap;
}

.form2 input {
  max-width: 370px;
  width: 100%;
  height: 59px;
  border: 2px solid #00000033;
  background-color: #d4d3d34d;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 19px;
}
.form2 .send {
  width: 370px;
  height: 59px;
  top: 495px;
  left: 920px;
  background: #5968f4;
  border: #5968f4;
  padding-left: 45%;
  color: #fbfbff;
}
.container2 {
  max-width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.card1 {
  max-width: 226px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.email {
  background: #5968f4;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
h3 {
  font-family: Helvetica;
  color: #4e4d54;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
h4 {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.container3 {
  max-width: 1317px;
  width: 100%;
  margin: 0 auto;
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}
footer {
  background-color: black;
  height: 372px;
}
.card2 {
  border: 2px solid black;
  max-width: 295px;
  width: 100%;
}
h5 {
  font-family: Helvetica;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.card2 p {
  font-family: Helvetica;
  color: #99999a;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 23px;
  margin-bottom: 27px;
}
.card3 {
  max-width: 108px;
  width: 100%;
}
.card3 h2,
.card4 h2,
.card5 h2 {
  font-family: Helvetica;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
}
li {
  font-family: Helvetica;
  color: #5863e3;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 9px;
}
.card5 {
  max-width: 240px;
  width: 100%;
}
.box div {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}
.box {
  display: flex;
  justify-content: space-between;
}
div h3{
  font-family: Helvetica;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.container4{
  max-width: 1121px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 63px;
}
